<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CATEGORY</h4>
                  <p class="card-description">
                    package page
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'packages' %}" enctype="multipart/form-data">
                      {% csrf_token %}


                  <div class="form-group">
                      <label> STATE</label>
                      <input type="text" class="form-control"  placeholder="Name" name="states">
                    </div>
                  <div class="form-group">
                      <label> CITY</label>
                      <input type="text" class="form-control"  placeholder="Name" name="citys">
                    </div>
                  <div class="form-group">
                      <label> rate</label>
                      <input type="text" class="form-control"  placeholder="Name" name="rates">
                    </div>
                  <div class="form-group">
                      <label> hotel</label>
                      <input type="text" class="form-control"  placeholder="Name" name="hotels">
                    </div>
                  <div class="form-group">
                      <label> Days</label>
                      <input type="text" class="form-control"  placeholder="Name" name="activs">
                    </div>

                    <div class="form-group">
                      <label>DISCRIPTION</label>
                      <textarea class="form-control"  rows="4" name="disps"></textarea>
                    </div>

                      <input type ="file" name="images"><br><br>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
        <script>
            swal('{{i}}','','warning' )
        </script>
            {% elif i.tags == 'error' %}
        <script>
         swal('{{i}}','','error')
        </script>
            {% elif i.tags == 'success' %}
        <script>
        swal('{{i}}','','success')
        </script>
            {% else %}
        <script>
            swal('{{i}}','','info')
        </script>
        {% endif %}
    {% endfor %}
{% endif %}


</body>

</html>
{% endblock %}