<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body>
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="table-responsive pt-3" style="width:900px">
                  <table class="table table-striped project-orders-table" >
                    <thead>
                      <tr>
                        <th class="ml-5">ID</th>
                        <th> state</th>
                        <th>city</th>
                        <th>hotel</th>
                        <th>rate</th>
                        <th>activities</th>
                        <th>discription</th>
                        <th>image</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                      <tr>
                        <td>{{i.state}}</td>
                         <td>{{i.city}}</td>
                         <td>{{i.hotel}}</td>
                         <td>{{i.activitie}}</td>
                         <td>{{i.disp}}</td>
                        <td>{{i.rate}} </td>
                        <td><img src="{{i.image.url}}"></td>
                        <td>
                          <div class="d-flex align-items-center">


                            <form action="{% url 'packedit' dataid=i.id  %}">
                            <button type="submit" class="btn btn-success btn-sm btn-icon-text mr-3">
                              Edit
                              <i class="typcn typcn-edit btn-icon-append"></i>
                            </button>
                            </form>


                            <form action="{% url 'deletepage' dataid=i.id  %}">
                            <button type="submit" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                              <i class="typcn typcn-delete-outline btn-icon-append"></i>
                            </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}




                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</body>
{% endblock %}
</html>